{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="/static/css/styles.css">
<title>Notes</title>
{% endblock %}

{% block body %}
<div class="topbar">
    <h1>Notes</h1>
    <span class="material-symbols-outlined">
        <a href="/option" title="Upload note" class="icon"> publish </a>
    </span>
</div>

<div class="dashboard">
    {% for note in notes %}
        <div class="cell">
            <h1 class="noteHeader">{{ note.title }}</h1>
            <p class="preview">{{ note.preview }}</p>
            <div class="option">
                <span class="material-symbols-outlined">
                    <a href="/delete/{{ note.id }}" title="Delete note" class="icon">delete</a>
                </span>
                <span class="material-symbols-outlined">
                    <a href="/note/{{ note.id }}" title="View note" class="icon">forward</a>
                </span>
            </div>  
        </div>
    {% endfor %}
</div>
{% endblock %}